body{
    
    width: 100%;
    height: 600px;
    background-image: url(../Means/triangles-g94f806476_1280.png);
    background-repeat:no-repeat center top;
    background-size: cover;
   


}
.img{
    margin: 4%;
 
 
}
.modal-content{
    background-image: url(../Means/fondo2.jpg);
    height: 440px;
   
   
}





.placeholder2{
    background:url(../Means/password_32px.png)no-repeat ;
    background-position: 1rem center;
    padding-left:50px;
    padding-right:50px;
    height: 45px ;
    width:300px;
    border: transparent;
    background-color: #D2D4E0;

    
 
    
}
.placeholder1{
    background:url(../Means/user_25px.png)no-repeat;
    background-position: 1rem center;
    padding-left:50px;
    padding-right:50px;
    height: 45px ;
    width:300px;
    border: transparent;
    background-color: #D2D4E0;
  
    top: 40px;

}
.button{
 background-color: #373447;
 color:#888695;
 border: transparent;
 padding-left:50px;
 padding-right:50px;
 height: 35px ;
 width:150px;

}
.btn{
 
    opacity: 086%;

    
}

.all{
    margin-top: 12%;
}

.chekbtn{
    color:#D2D4E0;
    margin-left: 4px;
    margin-right: 195px;
    
}
.estilito {
    padding-right: 45pt;
    color: #D2D4E0;
    
}

.miestilo{
   text-decoration: none;
   margin-bottom:2px;
   color: #D2D4E0;
}


