@model PryectoMovieTheater.Models.Recursos
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpData</title>
</head>
<body>
   
</body>
</html>
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Starter Template · Bootstrap v5.1</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/starter-template/">



    <!-- Bootstrap core CSS -->
    <link href="../Content/bootstrap.min.css" rel="stylesheet">

    
    


    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">
</head>
<body>



        <main>

            <div>
                @using (Html.BeginForm("Index", "Administradorweb", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                    <label>Titulo</label>
                    @Html.TextBoxFor(a => a.titulo)
                    <br />

                    <label>Caratula</label>

                    @Html.TextBoxFor(a => a.file, new { Type = "file" })
                    <br />


                    <label>Caratula</label>

                    @Html.TextBoxFor(a => a.file, new { Type = "file" })

                    <br />




                    <br />

                    <input type="submit" value="Agregar" />



                    <br />
                }




            </div>

        </main>
        <footer class="pt-5 my-5 text-muted border-top">
            Created by the Bootstrap team &middot; &copy; 2021
        </footer>
  


    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>


</body>
</html>
